:root {
  --white: #e5eaf3;
  --black: #000000;
  --blue: #409eff;
}

body {
  background: rgb(2, 0, 36) no-repeat;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: 'OpenSans';
  color: var(--white);
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

a {
  text-decoration: none;
}
